
{require_otp_vsn, "R?17"}.
%{require_min_otp_vsn, ".*"}.

{plugins, [rebar_vsn_plugin]}.

{erl_opts,
    [
      debug_info, fail_on_warning
    , { parse_transform, lager_transform }
    ] }.
{recursive_cmds, [clean, compile, xref, ct, generate, 'get-deps']}.

{lib_dirs, ["deps"]}.

{deps_dir, ["deps"]}.
{deps, [
         {xotli,             ".*", {git, "git@github.com:badmonkey/xotli-erlang-library.git"}}

       ]}.


